# root level
Thumbs.db
.DS_Store
*.sublime-project
*.sublime-workspace
*.sass-cache
*.settings

# kirby
/site/accounts
!/site/accounts/.gitkeep
/site/accounts/.logins
/site/cache
/thumbs
!/thumbs/.gitkeep
/assets/avatars
!/assets/avatars/.gitkeep

# exclude the node_modules
/node_modules

# build files
# /assets/css/*.css*
# /assets/images/* add this when we're processing images with Gulp
# /assets/js/*
# /src/js/app.js

# reminder: set up environments for the config
# config.dev.mysite.com.php
# config.mysite.com.php

# hidden/inactive content
# A working file to generate Google map lat/long coordinates
/maplinks.txt

# IMPORTANT
# Backup the /content directory any time it's updated via the panel.
# Commit & Push the changes from the local repo.
# Now the local repo and the Beanstalk repo are current.
# The Beanstalk deployment always excludes (and MUST always exclude) the /content directory.
# This will ensure that no panel/user settings get broken.
