/**
 *
 * Blog
 *
 * All styles for the Blog section
 *
 */

.container--blog {

   .blog__title {
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc;
      margin-bottom: 2rem;
   }

   article {
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc;
      margin-bottom: 2rem;

      // featured image (if it exists) in the blog feed
      .blog__featured-image {
         margin-top: 10px;
         margin-bottom: 10px;
      }
   }

   .meta time {
      color: #888;
      font-weight: 600;
   }

   .tags__label {
      font-weight: 600;
   }

   .tags {
      list-style: none;
      margin-top: 1rem;
      margin-left: 0;
      padding-left: 0;

      li {
         display: inline-block;
         margin-right: 6px;
      }

      a {
         text-decoration: none;
      }

   }

  figure {
    margin-bottom: 2rem;
  }

}

.container--blogsingle {

   article {
      padding-bottom: 0;
      border-bottom: none;
   }

}

// Fluid video ratio via Kirbytext

figure.video {
   margin-bottom: 20px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: auto;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
